 .swiper-pagination-bullet {width:6px; height:6px; display: inline-block; border-radius: 0; background:#000; opacity: .2}

 .swiper-pagination{position: absolute; bottom:11px; margin:0 auto ; width: 100%; padding-right: 12px; box-sizing: border-box;}
.swiper-pagination span{margin:2px}
.swiper-pagination-bullet-active{opacity: .5}


 .swiper-slide img{width:100%;max-width:1900px;}



#slide{
	width:100%;
	height:50vh;
	position:relative;
	overflow: hidden;
	z-index:1;
}
#slide ul li img{
	position:absolute;
	top:0;left:0;
	z-index:1;
	width:100%;
}
